# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ----------------------
# Virtual environments
# ----------------------
.env
.venv
venv/
env/

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Logs & temp files
# ----------------------
*.log
*.tmp
*.temp

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE/editor
# ----------------------
.vscode/
.idea/


